/* css personalizado */
body {
    padding-bottom: 70px;
}

.linhaCinza {
    background: #ccc;
}

.linhaPersonalizada {
    background: red;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg-color-padding p{
    padding:15px;
}